{% extends '_layout.njk' %}

{% set pageTitle = 'This invitation is no longer valid' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">This invitation is no longer valid</h1>
      <p class="govuk-body">It may have expired or already been accepted.</p>
      <p class="govuk-body">Ask an owner of the business to invite you again.</p>
      <p class="govuk-body"><a class="govuk-link" href="/organisations">Go to your businesses</a></p>
    </div>
  </div>
{% endblock %}
