{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = 'Invitation created' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Invitation created",
        html: "for " + email
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        A real service would email this link to {{ email }}. This example shows it here instead.
      </p>

      {{ govukInsetText({ text: invitationUrl }) }}

      {{ govukWarningText({
        text: "The link is shown once and expires in 7 days. Only " + email + " can accept it.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({ text: "Back to the business", href: "/organisations/" + organisation.id }) }}
    </div>
  </div>
{% endblock %}
