{% extends '_layout.njk' %}

{% set pageTitle = 'Page not found' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">If you typed the web address, check it is correct.</p>
      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
      <p class="govuk-body">You may not have permission to view this page.</p>
      <p class="govuk-body"><a class="govuk-link" href="/">Go to the start of the service</a></p>
    </div>
  </div>
{% endblock %}
